@font-face {
  font-family: "Cabinet Grotesk Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Cabinet Grotesk Regular"),
    url("../../vendor/fonts/CabinetGrotesk-Regular.woff") format("woff");
}

body {
  font-family: "Cabinet Grotesk Regular";
}

.page {
  min-height: 100vh;
  max-width: 1360px;
  margin: 0;
  padding: 12px;
}
